body {
	background-color: #282c34;
}

.CropperImage {
	width: 100vw;
	height: 100vh;
}

.container-cropper {
	height: 90%;
	padding: 10px;
}

.cropper {
	height: 90%;
	position: relative;
}

.slider {
	height: 10%;
	display: flex;
	align-items: center;
	margin: auto;
	width: 60%;
}

.container-buttons {
	border: 1px solid #282c34;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}
